.avatar__img__container {
    position: relative;
    width: max-content;
}

img {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: red;
}

.post__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.post__header__info {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.post_by__header {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
}

.gray__color_sub_title {
    font-size: .75rem;
    --tw-text-opacity: 1;
    color: rgb(106 115 125/var(--tw-text-opacity));
}

.border-primaryBorder {
    --tw-border-opacity: 1;
    border-color: rgb(225 228 232/var(--tw-border-opacity));
}

.mention.ant-mentions-outlined {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}