* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  padding: 0.5rem 1rem;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.ant-drawer-body,
.ant-drawer-header {
  padding: 1rem !important;
}

.ant-form-item {
  margin: 0.25rem !important;
}