@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

* {
    border-color: hsl(var(--border)) !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    font-family: 'Nunito', "Inter", sans-serif;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

html {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}


#secondary__text {
    color: #999999;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -.5px;
    margin: 0;
    padding: 0;
}

.text-overflow-ellipses {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


@keyframes shimmer {
    0% {
        background-position: -1000px;
    }

    100% {
        background-position: 1000px;
    }
}

.animate-shimmer {
    animation: shimmer 2s linear infinite;
    background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
    background-size: 1000px 100%;
}

.animate-login-btn {
    animation: shimmer 3s linear infinite;
    background: linear-gradient(to right, #000000 40%, #ff0808 20%, #2a2a2a 40%);
    background-size: 1000px 100%;
}

a:hover {
    color: #000;
    transition: text-decoration 0.5s ease-in;
    cursor: pointer;
}